{% extends "base_template/base.html" %}
{% load i18n %}

{% block content %}
  <div class="d-flex flex-column flex-lg-row">
    <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
      {% include "dj_site_accounts/sites_profiles/_site_list.html" %}
    </div>
    <div class="flex-lg-row-fluid ms-lg-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ title }}</h1>
        <a href="{% url "create-site" %}"
           class="btn btn-primary btn-sm">
          {% trans "Add New Site" %}
        </a>
      </div>
      <div class="tab-content" id="myTabContent">
        {% include "dj_site_accounts/sites_profiles/_site_details.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  {% include "dj_site_accounts/sites_profiles/_modals.html" %}
{% endblock %}