{% load i18n %}
{% comment %}
settings:
- bg image
- logo + landing url
- title
- description

{% endcomment %}
<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
     style="background-image: url(assets/media/misc/auth-bg.png)">
  <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">

    <a href="/" class="mb-0 mb-lg-12">
      <img alt="Logo" src="assets/media/logos/custom-1.png" class="h-60px h-lg-75px"/>
    </a>

    <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7">
      {# App Name #}
    </h1>

    <div class="d-none d-lg-block text-white fs-base text-center">
      {# App Description #}
    </div>
  </div>
</div>